* {
    margin: 0;
    padding: 0;
}

.d_P {
    height: 1212px;
}

.d_cont {
    background-color: white;
    height: 450px;
    width: 100%;
    /* padding: 40px; */
}


.d_innerCont {
    height: 100%;
    padding: 40px;
    align-items: center;
    background-color: rgb(255, 153, 0);
    display: flex;
    gap: 40px;

}

.d_innerCont span {
    color: rgb(37, 37, 37);
    font-size: 18px;
    text-align: justify;
}

.d_innerCont video {
    width: 600px;
    height: 400px;
}

.back {
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    height: 762px;
    overflow: hidden;
  }

.back video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.back .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(126, 126, 126, 0.7);
    /* black with 40% opacity */
    z-index: 1;
}


/* d2 */


.back .d2_cont {
    /* margin-left: auto; */
    margin: auto;
    margin-top: auto;
    height: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    /* padding: 40px; */
    position: absolute;
    z-index: 10;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


.back .d2_innerCont {
    display: flex;
    height: 100%;
    /* padding: 40px 40px 0 40px; */
    align-items: center;
    border-radius: 80px;
    justify-content: center;
    background: linear-gradient(6deg, #262726, rgb(26, 26, 26));
    display: flex;
    gap: 40px;

}

.back .d2_innerCont span {
    padding: 40px;
    color: rgb(194, 194, 194);
    font-size: 18px;
    text-align: justify;
}

.back .d2_innerCont video {
    /* border-radius: 80px; */
    /* border-bottom: 0px 60px 60px 0; */
    border-radius: 0 80px 80px 0;
    width: 700px;
    height: calc(400px - 20px);
}