*{
    padding: 0;
    margin: 0;
}

.d_footer{
    width: 100%;
    height: 700px;
    /* background: linear-gradient(55deg, black, rgb(83, 76, 76)); */
    background: repeating-linear-gradient(
        45deg,
        #353535, /* Color 1 */
        #47484e 10px, /* Color 1 stop */
        #5a5a5a 10px, /* Color 2 start */
        #404142 20px /* Color 2 stop */
    );
    padding: 20px;
    color: white;
    text-align: center;
   
}

.d_footer_inner{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
}

.d_cols {
    /* height: 200px; */
    width: 100%;
    /* display: flex; */
    /* background-color: white; */
    /* gap: 100px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}


.d_cols #d_head li{
    color: rgb(111, 148, 163);
    font-style: bolder;
    text-decoration: dotted;
}

.d_cols #d_head a{
    color: rgb(111, 148, 163);
    font-style: bolder;
    text-decoration: dashed;
}
.d_cols li {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.d_cols a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    color: white;
}


