.video {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 0;
}

.video iframe {
    z-index: 1;
    width: 90%;
    height: 60vh;
    border: none;
    pointer-events: auto;
}

.particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
