.menufull{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    color: rgb(228, 3, 3);
    background: linear-gradient(160deg, rgb(99, 99, 99), rgb(0, 0, 0));
    z-index: 100000;
    /* display: flex; */
    /* align-items: center; */
    padding: 20px;
}

.menufull .closeMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homefull{
    position: absolute;
    top: 85%;
    left: 75%;
}

.menulists .menulists-in{
    height: 100vh;
    width: 600px;
    /* background-color: purple; */
    padding: 50px;
}

.menulists-in li{
    display: flex;
    align-items: center;
    /* text-decoration: none; */
    padding: 15px;
    list-style: none;
    /* border-bottom: 6px solid blue; */
    /* position: absolute; */
    z-index: 1;
    position: relative;
    
}

.menulists-in li::after{
    /* background-color: white; */
    border-bottom: 6px solid red;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 0;
    transition: width 0.4s ease;
    z-index: -1;
}


.menulists-in li:hover::after {
    width: 100%;
    background-color: rgb(68, 68, 68);
}

.menulists-in li a{
    font-size: 38px;
    font-weight: 200;
    /* padding: 40px; */
    text-decoration: none;
    color: red;
    width: 400px;
}


.menuPage{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
    width: 500px;
    height: 500px;
    padding-top: 200px;
    padding-left: 40px;
    border-left: 1px dashed white;
    margin-top: 200px;
}

.menuPage li {
    list-style: none;
    padding: 6px;
}

.menuPage li a {
    position: relative;
    font-size: 14px;
    color: rgb(218, 218, 218);
    font-weight: lighter;
    text-decoration: none;
    z-index: 0;
}

.menuPage li a::after{
    border-bottom: 2px dashed rgb(255, 255, 255);
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
    position: absolute;
    content: '';
    z-index: 90;
}

.menuPage li a:hover::after{
    width: 100%;
    border-bottom: 2px dashed red;
}



/* .mbox {
    height: 200px;
    width: 290px;
    border-radius: 30px;
    background-color: orange;
    position: relative;
}

.mbox::after{
    content: '';    
    height: 200px;
    width: 290px;
    border-radius: 30px;
    /* z-index: -1; */
    /* position: absolute;
    background-color: aqua;
    transition: width 0.9s ease;
}

.mbox:hover::after{
    height: 200px;
    width: 600px;
    border-radius: 30px;
    background-color: rgb(255, 251, 0);
} */