.Footer {
    background-color: #363636;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 900px;
}

.comp{
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: white;
    padding: 30px 100px;
    justify-content: end;
}

.cols{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cols #head{
    font-weight: bold;
}

.cols #head a{
    text-decoration: none;
    color: #BF0D3E;
    /* text-decoration: underline dotted 1px #BF0D3E; */
}


.cols li{
    list-style: none;
}

.cols li a{
    color: rgb(204, 204, 204);
    text-decoration: none;
}

