/* src/styles/Homepage.css */

.hero {
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 0 2rem;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .hero-content #home {
    font-size: 4.25rem;
    margin-bottom: 1rem;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  }
  
  .hero-content p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    margin: 0;
  }

 


  
  .cta-button {
    background-color: #fff;
    color: #C8102E; /* Pantone 193 C */
    border: none;
    padding: 0.75rem 1.5rem;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: 0.3s;
  }
  
  .cta-button:hover {
    background-color: #f0f0f0;
  }


  /*Poda*/

  /* src/styles/Homepage.css */

/* PODA CARD SECTION */
.poda-card {
    background-color: #000; /* black background */
    color: #f5f5f5;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
  }
  
  .poda-card-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 1100px;
    background-color: #ffffff;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.05); */
    padding: 3.5rem;
    width: 100%;
    color: #000;
  }
  
  .poda-image {
    width: 600px;
    height: 400px;
    /* min-height: 200px; */
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-style: italic;
    border-radius: 8px;
  }

  .poda-image img {
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .poda-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .poda-info h2 {
    font-size:3rem;
    margin-bottom: 0.5rem;
    color: #BF0D3E; /* a nice contrast blue */
  }
  
  .poda-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #414141;
  }

  .poda-info .lmore-btn {
    padding: 1rem 0;
  }
  

  .poda-info .lmore-btn button{
    padding: 1rem 2.5rem;
    font-size: 17px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease-in-out;
  }

  .poda-info .lmore-btn button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 0.4s ease-in-out;
    z-index: -1;
  }

  .poda-info .lmore-btn button:hover{
    color: white;
    transform: translateY(-2px);
    background-color: #BF0D3E;
    box-shadow: 0 8px 20px rgba(200, 16, 46, 0.4);
  }


  

  /* Cards */
  .cards {
    background-color: #000; /* black background */
    color: #f5f5f5;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 700px;
    align-items: center;
    background-color: #363636;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.05); */
    padding: 3rem;
    width: 100%;
    color: #ffffff;
  }
  
  .card-image {
    width: 500px;
    height: 500px;
    /* min-height: 200px; */
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .card-image img {
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .card-info {
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-info h2 {
    font-size:3rem;
    margin-bottom: 0.5rem;
    color: #BF0D3E; /* a nice contrast blue */
  }
  
  .card-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
  }

  .card-info .card-lmore-btn {
    padding: 1rem 0;
  }
  

  .card-info .card-lmore-btn button{
    padding: 1rem 2.5rem;
    font-size: 17px;
    color: white;
    border: 2px solid white;
    background-color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease-in-out;
  }


  .card-info .card-lmore-btn button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(185, 185, 185, 0.4);
  }


  